html {
 font-family: "Times New Roman", serif, sans-serif;    
}

body {
/*    background-image: url(zebra.jpg);*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
    background-color: #444;
}

h1, h2, h3 {
    color: #ffffff;
    line-height: 1rem;
    }

.borderImg {
    border: 10px dashed red;
}

ul li {
    color: white;
    font-size: 20px;
}

ul > li {
    color: yellow;
    }

